# Book Recommendation System

#### import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')
import codecs

## Load the data-sets

In [2]:
#### BX_Books.csv
books = pd.read_csv('BX_Books.csv',sep=';',encoding='latin-1')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
#### BX-Book-Ratings.csv
book_ratings = pd.read_csv('BX-Book-Ratings.csv',sep=';',encoding='latin-1')

In [5]:
book_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
#### BX-Users.csv
users = pd.read_csv('BX-Users.csv',sep=';',encoding='latin-1')

In [7]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

## Merging the data-sets

In [8]:
new_user = pd.merge(users,book_ratings,on='User-ID')

In [9]:
merged_data_set = pd.merge(books,new_user,on='ISBN')

In [10]:
merged_data_set.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Location,Age,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,"stockton, california, usa",18.0,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,"timmins, ontario, canada",NaN,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,"ottawa, ontario, canada",49.0,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,"n/a, n/a, n/a",NaN,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,"sudbury, ontario, canada",NaN,0

## EDA

In [11]:
merged_data_set.shape

(1031175, 12)

In [12]:
merged_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031175 entries, 0 to 1031174
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031175 non-null  object
 1   Book-Title           1031175 non-null  object
 2   Book-Author          1031173 non-null  object
 3   Year-Of-Publication  1031175 non-null  int64
 4   Publisher            1031173 non-null  object
 5   Image-URL-S          1031175 non-null  object
 6   Image-URL-M          1031175 non-null  object
 7   Image-URL-L          1031175 non-null  object
 8   User-ID              1031175 non-null  int64
 9   Location             1031175 non-null  object
 10  Age                  753330 non-null   float64
 11  Book-Rating          1031175 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 94.4+ MB

In [13]:
merged_data_set.describe()

       Year-Of-Publication       User-ID            Age   Book-Rating
count         1.031175e+06  1.031175e+06  753330.000000  1.031175e+06
mean          1.968194e+03  1.405944e+05      37.397719  2.839022e+00
std           2.311048e+02  8.052444e+04      14.098189  3.854149e+00
min           0.000000e+00  2.000000e+00       0.000000  0.000000e+00
25%           1.992000e+03  7.041500e+04      28.000000  0.000000e+00
50%           1.997000e+03  1.412100e+05      35.000000  0.000000e+00
75%           2.001000e+03  2.114260e+05      45.000000  7.000000e+00
max           2.050000e+03  2.788540e+05     244.000000  1.000000e+01

## Checking for NA values

In [14]:
merged_data_set.isna().sum()

ISBN                        0
Book-Title                  0
Book-Author                 2
Year-Of-Publication         0
Publisher                   2
Image-URL-S                 0
Image-URL-M                 0
Image-URL-L                 0
User-ID                     0
Location                    0
Age                    277845
Book-Rating                 0
dtype: int64

## Dropping NA values

In [15]:
merged_data_set.dropna(inplace=True)

In [16]:
merged_data_set.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Location,Age,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,"stockton, california, usa",18.0,0
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,"ottawa, ontario, canada",49.0,0
5,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,67544,"toronto, ontario, canada",30.0,8
6,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,85526,"victoria, british columbia, canada",36.0,0
7,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,96054,"ottawa, ontario, canada",29.0,0

In [17]:
merged_data_set.dropna(inplace=True)

## Again Checking for NA values

In [18]:
merged_data_set.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
User-ID                0
Location               0
Age                    0
Book-Rating            0
dtype: int64

## Splitting the Location column

In [19]:
location = merged_data_set.Location.str.split(', ',n=2,expand=True)

In [20]:
merged_data_set['City'] = location[0]
merged_data_set['State'] = location[1]
merged_data_set['Country'] = location[2]

In [21]:
merged_data_set.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Location,Age,Book-Rating,City,State,Country
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,"stockton, california, usa",18.0,0,stockton,california,usa
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,"ottawa, ontario, canada",49.0,0,ottawa,ontario,canada
5,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,67544,"toronto, ontario, canada",30.0,8,toronto,ontario,canada
6,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,85526,"victoria, british columbia, canada",36.0,0,victoria,british columbia,canada
7,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,96054,"ottawa, ontario, canada",29.0,0,ottawa,ontario,canada

In [22]:
merged_data_set.isna().sum()

ISBN                       0
Book-Title                 0
Book-Author                0
Year-Of-Publication        0
Publisher                  0
Image-URL-S                0
Image-URL-M                0
Image-URL-L                0
User-ID                    0
Location                   0
Age                        0
Book-Rating                0
City                       0
State                      0
Country                10635
dtype: int64

## Dropping NA values

In [23]:
merged_data_set.dropna(inplace=True)

In [24]:
merged_data_set.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
User-ID                0
Location               0
Age                    0
Book-Rating            0
City                   0
State                  0
Country                0
dtype: int64

## Dropping least informative column

In [25]:
merged_data_set.drop(['Image-URL-S','Image-URL-M','Image-URL-L','User-ID','ISBN'],axis=1,inplace=True)

In [26]:
merged_data_set.head()

,Book-Title,Book-Author,Year-Of-Publication,Publisher,Location,Age,Book-Rating,City,State,Country
0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,"stockton, california, usa",18.0,0,stockton,california,usa
2,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"ottawa, ontario, canada",49.0,0,ottawa,ontario,canada
5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"toronto, ontario, canada",30.0,8,toronto,ontario,canada
6,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"victoria, british columbia, canada",36.0,0,victoria,british columbia,canada
7,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"ottawa, ontario, canada",29.0,0,ottawa,ontario,canada

In [27]:
merged_data_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 742691 entries, 0 to 1031174
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Book-Title           742691 non-null  object
 1   Book-Author          742691 non-null  object
 2   Year-Of-Publication  742691 non-null  int64
 3   Publisher            742691 non-null  object
 4   Location             742691 non-null  object
 5   Age                  742691 non-null  float64
 6   Book-Rating          742691 non-null  int64
 7   City                 742691 non-null  object
 8   State                742691 non-null  object
 9   Country              742691 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 62.3+ MB

## Changing the data type of age column

In [28]:
merged_data_set['Age'] = merged_data_set['Age'].astype(int)

In [29]:
merged_data_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 742691 entries, 0 to 1031174
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Book-Title           742691 non-null  object
 1   Book-Author          742691 non-null  object
 2   Year-Of-Publication  742691 non-null  int64
 3   Publisher            742691 non-null  object
 4   Location             742691 non-null  object
 5   Age                  742691 non-null  int64
 6   Book-Rating          742691 non-null  int64
 7   City                 742691 non-null  object
 8   State                742691 non-null  object
 9   Country              742691 non-null  object
dtypes: int64(3), object(7)
memory usage: 62.3+ MB

In [36]:
print(merged_data_set.duplicated().sum())

1253

In [37]:
merged_data_set.drop_duplicates(inplace=True)

In [39]:
print(merged_data_set.duplicated().sum())

0

In [40]:
merged_data_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 741438 entries, 0 to 1031174
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Book-Title           741438 non-null  object
 1   Book-Author          741438 non-null  object
 2   Year-Of-Publication  741438 non-null  int64
 3   Publisher            741438 non-null  object
 4   Location             741438 non-null  object
 5   Age                  741438 non-null  int64
 6   Book-Rating          741438 non-null  int64
 7   City                 741438 non-null  object
 8   State                741438 non-null  object
 9   Country              741438 non-null  object
dtypes: int64(3), object(7)
memory usage: 62.2+ MB

## Saving the Data-set to a .csv file

In [41]:
merged_data_set.to_csv('Cleansed_dataset.csv',index=False)